<server description="new server">

    <featureManager>
        <feature>jsp-2.2</feature>
        <feature>jaxrs-1.1</feature>
        <feature>jndi-1.0</feature>
        <feature>jdbc-4.0</feature>
        <feature>jpa-2.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" host="${host}" httpPort="${http.port}" />

    <application id="myapp" name="myapp" type="war" location="ROOT.war" context-root="/" />

    <logging logDirectory="../../log" />

    <dataSource id="jdbc/acmeairdatasource" jndiName="jdbc/acmeairdatasource" jdbcDriverRef="PostgreSQL">
        <properties databaseName="${env.PGDATABASE}" serverName="${env.OPENSHIFT_POSTGRESQL_DB_HOST}" password="${env.OPENSHIFT_POSTGRESQL_DB_PASSWORD}" portNumber="${env.OPENSHIFT_POSTGRESQL_DB_PORT}" user="${env.OPENSHIFT_POSTGRESQL_DB_USERNAME}" />
    </dataSource>

    <dataSource id="jdbc/acmeairdatasourcenonjta" jndiName="jdbc/acmeairdatasourcenonjta" transactional="false" jdbcDriverRef="PostgreSQL">
        <properties databaseName="${env.PGDATABASE}" serverName="${env.OPENSHIFT_POSTGRESQL_DB_HOST}" password="${env.OPENSHIFT_POSTGRESQL_DB_PASSWORD}" portNumber="${env.OPENSHIFT_POSTGRESQL_DB_PORT}" user="${env.OPENSHIFT_POSTGRESQL_DB_USERNAME}" />
    </dataSource>

    <jdbcDriver id="PostgreSQL" libraryRef="PostgreSQLLib" javax.sql.ConnectionPoolDataSource="org.postgresql.ds.PGConnectionPoolDataSource" />

    <library id="PostgreSQLLib">
        <fileset dir="../../../app-root/runtime/build-dependencies/.m2/repository/postgresql/postgresql/8.4-702.jdbc4" includes="postgresql-*.jar" />
    </library>

</server>
